<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Thu Dec 05 09:30:51 GMT+09:00 2013-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"/WEB-INF/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias alias="userVO" 			type="com.molt.core.vo.UserVO" />
		<!-- 공통 Vo -->
		<!-- <typeAlias alias="memberVO" 			type="com.molt.core.vo.MemberVO" />
		<typeAlias alias="bbsDataVO" 			type="com.molt.core.vo.BbsDataVO" />
		<typeAlias alias="bbsDataComtVO" 		type="com.molt.core.vo.BbsDataComtVO" />
		<typeAlias alias="atlcVO" 				type="com.molt.core.vo.AtlcVO" />
		<typeAlias alias="atlcQstnAnswVO" 		type="com.molt.core.vo.AtlcQstnAnswVO" />
		<typeAlias alias="chapterVO" 			type="com.molt.core.vo.ChapterVO" />
		<typeAlias alias="StudySeqVO" 			type="com.molt.core.vo.StudySeqVO" />
		<typeAlias alias="studyChapVO" 			type="com.molt.core.vo.StudyChapVO" />
		<typeAlias alias="studySubjVO" 			type="com.molt.core.vo.StudySubjVO" />
		<typeAlias alias="qstnVO" 				type="com.molt.core.vo.QstnVO" />
		<typeAlias alias="qstnQestVO" 			type="com.molt.core.vo.QstnQestVO" />
		<typeAlias alias="qstnQestExVO" 		type="com.molt.core.vo.QstnQestExVO" />
		<typeAlias alias="qstnQestResultVO" 	type="com.molt.core.vo.QstnQestResultVO" />
		<typeAlias alias="qstnQestResultDtlVO" 	type="com.molt.core.vo.QstnQestResultDtlVO" /> -->
	</typeAliases>
	
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" jdbcType="CLOB" javaType="java.lang.String"/>
	</typeHandlers>
</configuration>